- if !params[:q].blank?
  - if @results.size > 0
    - for result in @results
      .choice
        %span.command= search_result_link(result)
        %span.description= pluralize(result.comment_count, "comments")
        %span.meta
          - if result.starred?
            = image_tag("star.png")
          %img(src="#{result.owner_gh_avatar_url}&s=13" title="#{result.owner_gh_username}" alt="#{result.owner_gh_username}")
    .hints
      %em keyboard:
      ↑ = up, ↓ = down, enter = follow link, / = search
  - else
    .choice
      %span.command= "No results for \"#{params[:q]}\". Bummer."