= "Your gists (#{link_to("refresh", refresh_gists_path, :method => :post)}):".html_safe
- for gist in @gists do
  / %p
  /   = gist.inspect
  %p
    = link_to gist.description, gist.url
    = "(#{gist.public? ? "Public" : "Private"})"
    %br/
    = "Created on #{gist.gh_created_at.to_datetime.to_formatted_s(:short)}, last updated on #{gist.gh_updated_at.to_datetime.to_formatted_s(:short)}"
    %ul
      %li
        = "#{pluralize(gist.files.count, "file")}:"
        %ul
          - gist.files.each do |file|
            %li
              = link_to(file.filename, file.raw_url)
              = "- #{file.language} (#{file.file_type}), #{file.size_bytes / 1028}kb"