= "Your gists (#{link_to("refresh", refresh_gists_path, :method => :post)}):".html_safe
- for gist in @gists do
  / %p
  /   = gist.inspect
  %p
    = link_to gist.description, gist.html_url
    = "(#{gist.public ? "Public" : "Private"})"
    %br/
    = "Created on #{gist.created_at.to_datetime.to_formatted_s(:short)}, last updated on #{gist.updated_at.to_datetime.to_formatted_s(:short)}"
    %ul
      %li
        = "#{pluralize(gist.files.size, "file")}:"
        %ul
          - gist.files.each do |name, file|
            %li
              = link_to(file.filename, file.raw_url)
              = "- #{file.language} (#{file.type}), #{file['size'] / 1028}kb"