%p
  = form_tag(search_gists_path, :method => "get") do
    = label_tag(:q, "Search your gists:")
    = text_field_tag(:q, params[:q])
    = submit_tag("Go")
    = "(last indexed: #{current_user.last_gh_fetch ? current_user.last_gh_fetch.to_formatted_s(:short) : "not yet"})"

- if @results.size > 0
  %ul
    - for result in @results
      / # %p= result.inspect
      - if result.highlight
        %li
          %p= search_result_link(result)
          - if(result.highlight[:'files.content'])
            - highlights = result.highlight[:'files.content']
            %span.matches= highlights[0..(highlights.size < 2 ? -1 : 1)].join(' . . . ')
      - else
        %li
          %p= search_result_link(result)
- else
  %p= "No results found for \"#{params[:q]}\""

:javascript
  $(function() {
    $('#q').select();
  })