%span.site-logo
  Gisted

.topsearch.command-bar-activated
  = form_tag(search_gists_path, :method => "get", :id => "top_search_form", :class => "command_bar_form") do
    .commandbar.focused
      = text_field_tag(:q, params[:q], :size => 50, :class => "mousetrap", :id => "command-bar", :placeholder => "Search your gists:   this AND that \"this phrase\" -excluding +including", :tabindex => "1", :autocomplete => "off")
      #results.display(style="display: #{!params[:q].blank? ? "block" : "none"};")
        = render :partial => 'results'
      #search-error.display
        .error There was an error with your search. For this, <a href="https://twitter.com/rwdaigle">@rwdaigle</a> will mercilessly flog himself.
        .timeout It seems your search is taking longer than <a href="https://twitter.com/rwdaigle">@rwdaigle</a> finds acceptable. Hold on, it's here somewhere...

.indicator(style="visibility: hidden;")
  %span.loading
    %img(src="#{image_path("loader.gif")}")

.avatar
  %a(href="#{current_user.gh_url}")
    %img(src="#{current_user.gh_avatar_url}&s=20")