%p
  = form_tag(search_gists_path, :method => "get") do
    = label_tag(:q, "Search your gists:")
    = text_field_tag(:q, params[:q])
    = submit_tag("Go")
    = "(last indexed: #{current_user.last_gh_fetch ? current_user.last_gh_fetch.to_formatted_s(:short) : "not yet"})"

- if @results.size > 0
  %ul
    - for result in @results
      / %p= result.inspect
      - if result.highlight
        %li
          %p= link_to((result.highlight.description ? result.highlight['description'].first.html_safe : result.description), result.url)
          - if(result.highlight[:'files.content'])
            - result.highlight[:'files.content'].each do |highlight|
              %p
                %code= highlight
      - else
        %li
          %p= link_to(result.description, result.url)
- else
  %p= "No results found for \"#{params[:q]}\""

:javascript
  $(function() {
    $('#q').select();
  })