%span.site-logo
  Gisted

.topsearch.command-bar-activated
  = form_tag(search_gists_path, :method => "get", :id => "top_search_form", :class => "command_bar_form") do
    .commandbar.focused
      = text_field_tag(:q, params[:q], :size => 50, :class => "mousetrap", :id => "command-bar", :placeholder => "Search your gists", :tabindex => "1", :autocomplete => "off")
      #results.display(style="display: #{!params[:q].blank? ? "block" : "none"};")
        = render :partial => 'results'

.avatar
  %a(href="#{current_user.gh_url}")
    %img(src="#{current_user.gh_avatar_url}&s=20")