%span.site-logo(style="margin-top: -3px;")
  Gisted

.topsearch.command-bar-activated
  = "Indexing #{current_user.gists_count} gists and #{current_user.files_count} files..."
  - if current_user.indexed?
    = link_to("done.", search_gists_path)
    Re-indexing will automatically occur.

/ %p
/   = link_to "Go to gist search", search_gists_path
/   - if !current_user.indexed?
/     %em (results may not be complete until indexing completes)

- if !current_user.indexed?
  :javascript
    $(function() {
      setTimeout(function() {
        location.reload();
      }, 2000);
    });
- else
  :javascript
    $(function() {
      setTimeout(function() {
        location = "#{search_gists_path}";
      }, 4000);
    })