!!!
%html
  %head

    %title Gisted
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags

    - if(Rails.env.production?)
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-77805-14']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body.launch
    #profile
      - if user_logged_in?
        %span.last-edited= "Most recent gist edited on #{current_user.last_gist_updated_at.to_formatted_s(:short)}"
        %span.logout= link_to("logout", logout_path) 
    #header
      .container
        = yield
    #footer
      %span.attributions
        Gisted is an
        = link_to "@rwdaigle", "https://twitter.com/rwdaigle"
        project running on
        = link_to(image_tag("heroku.png"), "http://heroku.com")